# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Logs
*.log

#IDE files
*.iml
.qmake.stash
.qmake.winrt_uuid_GUI
*.vcxproj*
Package.appxmanifest

#Folders
.vs/
.idea/
target/
out/
assets/
debug/
release/
/src/main/server/resources/application-dev.properties