# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Logs
*.log

#IDE files
*.iml

#Folders
.vs/
.idea/
target/
out/
/src/main/server/resources/application-dev.properties
/src/main/client/cpp/client/build-GUI-Desktop_x86_windows_msvc2019_pe_64bit-Debug/debug
/src/main/client/cpp/client/build-GUI-Desktop_x86_windows_msvc2019_pe_64bit-Debug/release